body {
  display: flex;
  justify-content: center;
  padding: 70px;
  background-color: black;
  color: wheat;
  /* font-size: 20px; */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fetch-coutry-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px auto;
}
#get-country {
  display: block;
  width: 450px;
  padding: 15px;
  font-size: 30px;
}
#get-country-btn {
  padding: 15px;
}
.input-wrapper {
  display: block;
  align-items: center;
  border-radius: 20px;
}
button {
  display: none;
}

.country-box__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 30px;
}
.country-box__container ul li {
  font-size: 25px;
  margin-bottom: 10px;
}
.language-list {
  margin-top: 30px;
}


.country-box__img {
  display: block;
  margin-top: 30px;
}
